aiogram==2.4
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
Babel==2.9.1
certifi==2019.11.28
chardet==3.0.4
idna==2.8
importlib-metadata==1.4.0
more-itertools==8.1.0
motor==2.1.0
multidict==4.7.3
packaging==20.0
pluggy==0.13.1
py==1.8.1
pymongo==3.10.1
pyparsing==2.4.6
pytest==5.3.2
pytz==2019.3
six==1.14.0
wcwidth==0.1.8
yarl==1.4.2
zipp==2.0.0
